
<% if @post.errors.any? %>
<div id="error_expanation" class="alert alert-danger">
	<ul>
		<% @post.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>

</div>
<% end %>



<h1>Edit Book</h1>
<%= form_for(@post) do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Body</h4>
    <%= f.text_area :body %>
    <%= f.submit 'Update Book' %>
<span>
	<%= link_to "show", "/posts/#{@post.id}" %>
</span>
<span>
	<%= link_to "back", "/posts" %>
</span>
<% end %>

